<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SysLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>FilterAutenticacao</filter-name>
    <filter-class>br.com.syslib.filter.FilterAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <url-pattern>/autenticado/consultar-cartao.jsp</url-pattern>
    <url-pattern>/autenticado/consultar-endereco.jsp</url-pattern>
    <url-pattern>/autenticado/form-cartao.jsp</url-pattern>
    <url-pattern>/autenticado/form-endereco.jsp</url-pattern>
    <url-pattern>/autenticado/form-pedido-endereco.jsp</url-pattern>
    <url-pattern>/autenticado/form-pedido-cartao.jsp</url-pattern>
    <url-pattern>/autenticado/form-pedido-pagamento.jsp</url-pattern>
    <url-pattern>/autenticado/profile.jsp</url-pattern>
    <url-pattern>/autenticado/adm/form-livro.jsp</url-pattern>
    <url-pattern>/autenticado/adm/consultar-livro.jsp</url-pattern>
    <url-pattern>/autenticado/adm/consultar-clientes.jsp</url-pattern>
    <url-pattern>/autenticado/adm/estoque.jsp</url-pattern>
    <url-pattern>/autenticado/adm/dashboard.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterAutorizacao</filter-name>
    <filter-class>br.com.syslib.filter.FilterAutorizacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAutorizacao</filter-name>
    <url-pattern>/autenticado/adm/form-livro.jsp</url-pattern>
    <url-pattern>/autenticado/adm/consultar-livro.jsp</url-pattern>
    <url-pattern>/autenticado/adm/estoque.jsp</url-pattern>
    <url-pattern>/autenticado/adm/dashboard.jsp</url-pattern>
    <url-pattern>/autenticado/adm/consultar-clientes.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterCarrinho</filter-name>
    <filter-class>br.com.syslib.filter.FilterCarrinho</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterCarrinho</filter-name>
    <url-pattern>/carrinho.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>br.com.syslib.controle.web.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/adm/SalvarLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCarrinho</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/SalvarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/adm/SalvarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/SalvarEndereco</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/SalvarCartao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SairSys</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/adm/SalvarEstoque</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/AtualizarPerfil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/AlterarSenha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/CalcularFrete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/CalcularFrmPgto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/ValidarCupomPromocional</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/autenticado/ValidarCupomTroca</url-pattern>
  </servlet-mapping>
  <error-page>
    <location>/errors.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
</web-app>